.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.app__profile {
  margin: 20px;
}
.app__img {
  margin-bottom: 5px;
  height: 150px;
  width: 150px;
  object-fit: contain;
  border-radius: 150px;
  border: 1px solid whitesmoke;
  align-content: center;
}

.app__name {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  color: #a6a6a6;
  font-weight: 300;
}
.link__appContainer {
  margin-left: 20px;
  margin-right: 20px;
}
.link__appContainer > a {
  font-weight: 600;
  color: gray;
  text-decoration: none !important;
}
.link__container {
  margin: 10px;
  height: 35px;
  width: 350px;
  border: 2px solid rgba(0, 255, 194, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 35px;
}

.link__logo {
  width: 30px;
  height: 30px;
  margin-right: 10px;
}
